@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
    font-family: poppins;
}

#input:focus{
    outline: none;
}


#about{
    font-family: poppins;
}

@font-face {
    font-family: 'edit';
    src: url(../src/assets/fonts/PPEditorialNew-Italic.otf);
}

#font{
    font-family: edit;
    letter-spacing: 5px;
}

::-webkit-scrollbar{
    display: none;
    scroll-behavior: smooth;
}

.slick-slide > div {
    margin: 0 20px;
}

@media only screen and (max-width: 600px) {
    .slick-slide > div {
        margin: 0 3px;
    }
}

.active{
    background-color: #006cff;
}

